Repository frgfm/torch-cam, pull requests merged in 2020-11, with the labels that each got.

#23 fix: Fixed hooking mechanism
  scripts/cam_example.py
  torchcam/cams/cam.py
  torchcam/cams/gradcam.py
Labels: bug, module: cams, module: scripts

#24 chore: Fixed doc deploy
  .github/workflows/doc-deploy.yaml
Labels: bug, documentation, topic: build

#21 fix: Support CAM for intermediate layers
  test/test_cams.py
  torchcam/cams/cam.py
  torchcam/cams/gradcam.py
Labels: enhancement

#25 test: Prevent downloading of pretrained models
  test/test_cams.py
Labels: enhancement, module: test
