Repository frgfm/torch-cam, pull requests merged in 2021-02, with the labels that each got.

#40 docs: Fixed doc building requirements
  docs/requirements.txt
Labels: documentation, topic: build

#38 fix: Fixed visualization issue RGBA --> RGB
  test/test_utils.py
  torchcam/utils.py
Labels: bug, module: utils

#39 docs: Updated README illustration
  static/images/cam_example.png
Labels: documentation

#41 feat: Simplified example script and updated documentation
  README.md
  docs/source/index.rst
  scripts/cam_example.py
  torchcam/cams/utils.py
Labels: documentation, enhancement, module: cams, module: scripts
